.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, fill 0.3s ease; 
    padding-right: 10px;
}

.social-icons a:hover {
    transform: translateY(-5px); 
}

.social-icons a path {
    transition: fill 0.3s ease;
}

.social-icons a:hover path {
    fill: #9B32D9;
}

.centered-icon {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}