body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #000;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 50px; /* Adiciona espaço ao redor da .container */
    gap: 20px; /* Cria um espaço entre o texto e a imagem */
}

.text-container {
    width: 50%;
}

h1, h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 100%;
    margin-bottom: 2rem;
    text-align: justify;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 400px; /* Aumenta o tamanho da imagem */
    height: 400px; /* Aumenta a altura da imagem */
    object-fit: cover;
    border-radius: 50%;
}

/* ----icones*/

.social-icons a {
    display: inline-block;
    width: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: 40px;
    transition: transform 0.3s ease, fill 0.3s ease; /* Aplica a transição à tag <a> */
    padding-right: 10px;
}

.social-icons a:hover {
    transform: translateY(-5px);  /* Move o ícone para cima ao passar o mouse */
}

.social-icons a path {
    transition: fill 0.3s ease; /* Suaviza a mudança de cor do caminho */
}

.social-icons a:hover path {
    fill: #9B32D9; /* Cor roxa no hover */
}

.centered-icon {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}