body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #000;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 50px; /* Adiciona espaço ao redor da .container */
    gap: 20px; /* Cria um espaço entre o texto e a imagem */
}

.text-container {
    width: 50%;
}

h1, h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 100%;
    margin-bottom: 2rem;
    text-align: justify;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 400px; /* Aumenta o tamanho da imagem */
    height: 400px; /* Aumenta a altura da imagem */
    object-fit: cover;
    border-radius: 50%;
}