body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', Arial, sans-serif;
}

canvas {
    background: #000;
    display: block;
    z-index: 0
}

i {
    color: white;
}

.nome_dev{
    display: flex;
}

.dev {
    padding-left: 10px;
    color: #9B32D9;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
}

.centered-text h1 {
    margin: 0;
    font-size: 5em;
    user-select: none;
}

.centered-text h2 {
    display: flex;
    margin: 0;
    font-size: 3em;
    user-select: none;
    text-align: center;
}

.desenvolvedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap; 
    text-align: center; 
}

.corDev{
    color: #9B32D9;
}

.social-icons a {
    display: inline-block;
    width: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: 40px;
    transition: transform 0.3s ease, fill 0.3s ease; /* Aplica a transição à tag <a> */
    padding-right: 10px;
}

.social-icons a:hover {
    transform: translateY(-5px);  /* Move o ícone para cima ao passar o mouse */
}

.social-icons a path {
    transition: fill 0.3s ease; /* Suaviza a mudança de cor do caminho */
}

.social-icons a:hover path {
    fill: #9B32D9; /* Cor roxa no hover */
}

.centered-icon {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
