body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', Arial, sans-serif;
}

canvas {
    background: #000;
    display: block;
    z-index: 0
}

i {
    color: white;
}

.nome_dev{
    display: flex;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
}

.centered-text h1 {
    margin: 0;
    font-size: 5em;
    user-select: none;
}

.centered-text h2 {
    display: flex;
    margin: 0;
    font-size: 3em;
    user-select: none;
    text-align: center;
}

.desenvolvedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap; 
    text-align: center; 
}

.corDev{
    color: #9B32D9;
}

@media screen and (max-width: 1035px) {

    body {
        width: 100%;
    }

    .centered-text h1 {
        font-size: 3em;
    }
    
    .centered-text h2 {
        font-size: 2em;
    }
}

